<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concrete compressive Strength Predictor </title>
    <link rel="stylesheet" href="../static/Style1.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<section>
    <div class="side">
        <img src="{{url_for('static', filename='Compressive_strength_test.gif')}}" width="350px" height="350px">
        <h2>Project: Concrete compressive Strength Predictor </h2>
        <h2>Implement Using Machine Learning Technique</h2>

        <h2>Made By Vikas And its Team Member</h2>
        <ul>
            <li>Vikas</li>
            <li>Chaudhary Shubham R.</li>
        </ul>
    </div>

<div class="vl"></div>
    <div class="main">
            <h1>Concrete Compressive Strength Predictor</h1>
            <h3>Enter Details</h3>
    <!-- Inputs to our model-->
        <br><br>
            <form action="{{ url_for('predict')}} " method="post">
    <label for="age"> <b>Age (in days) :</b> </label>
    <input type = "number"  id = "age" name = "age" placeholder = "Age of the concrete" required = "required" />
    <br><br><br>
    <label for= "cement"> <b>Cement (in kg) : </b> </label>
    <input type = "number" step = "0.01" id= "cement" name = "cement" placeholder = "quantity" required = "required" />
    <br><br><br>
    <label for="water"> <b>Water (in kg) :</b></label>
    <input type = "number" step = "0.01" id = "water" name = "water" placeholder = "quantity " required = "required" />
    <br><br><br>
    <label for="fly_ash"><b>Fly ash (in kg) :</b></label>
    <input type = "number" step = "0.01" id = "fly_ash" name = "fa" placeholder= "quantity " required = "required" />
    <br><br><br>
    <label for="superplasticizer"> <b>Superplasticizer (in kg) :</b></label>
    <input type = "number" step = "0.01" id = "superplasticizer" name="sp" placeholder = "quantity " required = "required" />
    <br><br><br>
    <label for="blast_furnace_slag"> <b>Blast furnace slag (in kg) :</b> </label>
    <input type = "number" step = "0.01" id = "blast_furnace_slag" name = "bfs" placeholder = "quantity " required = "required" />
    <br><br><br>

    <input type="submit" class="btn-info" value = "Predict" >
    <br><br>
            </form>

    <footer class="button"><f> Designed by <a href="https://www.linkedin.com/in/vikas-a74441190/" style="text-align: center;" > Vikas </a>  |  <a href="https://commons.wikimedia.org/wiki/File:Compressive_strength_test.gif#/media/File:Compressive_strength_test.gif" style="text-align: right;"> GIF source </a> </f></footer>
    <!--footer class="button"></footer-->
    </div>
        </section>
</body>
</html>